
@page
@model ServiceHost.Areas.Admin.Pages.MAccount.Role.CreateModel

@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "ایجاد نقش جدید";
}

<div class="modal-header">
    <h4 class="modal-title">ایجاد نقش جدید</h4>
</div>


<form method="post" asp-page="Create">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="command.Name" class="control-label">نام نقش</label>
                <input type="text" class="form-control" asp-for="command.Name">
                <span asp-validation-for="command.Name" class="error"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>


@section SC{

    <script src="~/AdminPanel/js/jquery-1.10.2.js"></script>

}