

@model List<_01_eshopQuery.Contracts.ArticleCategory.ArticleCategoryQueryModel>

<div class="single-sidebar-widget">

    <h4 class="single-sidebar-widget__title">گروه مقالات</h4>
    <ul class="single-sidebar-widget__category-list">
        @foreach (var item in Model)
        {
            <li>
                <a asp-page="ArticleCategory" asp-route-id="@item.Slug">@item.Name <span class="counter">@item.ArticleCount</span></a>
            </li>
        }
    </ul>
</div>
