@page "{id}"
@model ServiceHost.Areas.Admin.Pages.MBlog.Article.EditModel

@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "ویرایش مقاله";
}

<div class="modal-header">
    <h4 class="modal-title"> ویرایش مقاله : "@Model.EditArticle.Title"</h4>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <input type="hidden" asp-for="EditArticle.Id" value="@Model.EditArticle.Id" />
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.Title" class="control-label">نام</label>
                    <input type="text" class="form-control" asp-for="EditArticle.Title" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="EditArticle.Title" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.Slug" class="control-label">اسلاگ</label>
                    <input type="text" class="form-control" asp-for="EditArticle.Slug">
                    <span asp-validation-for="EditArticle.Slug" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.CategoryId" class="control-label">گروه</label>
                    <select type="text" class="form-control" asp-for="EditArticle.CategoryId" asp-items="@Model.Categories">
                        <option value="0">گروه مقاله</option>
                    </select>
                    <span asp-validation-for="EditArticle.CategoryId" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.Picture" class="control-label">تصویر</label>
                    <input type="file" class="form-control" asp-for="EditArticle.Picture">
                    <span asp-validation-for="EditArticle.Picture" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.PictureAlt" class="control-label">Alt</label>
                    <input type="text" class="form-control" asp-for="EditArticle.PictureAlt">
                    <span asp-validation-for="EditArticle.PictureAlt" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.PictureTitle" class="control-label">عنوان تصویر</label>
                    <input type="text" class="form-control" asp-for="EditArticle.PictureTitle">
                    <span asp-validation-for="EditArticle.PictureTitle" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EditArticle.ShortDescription" class="control-label">توضیح کوتاه</label>
                    <textarea type="text" class="form-control" asp-for="EditArticle.ShortDescription"
                              onchange="fillField('ShortDescription', 'MetaDescription')"></textarea>
                    <span asp-validation-for="EditArticle.ShortDescription" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EditArticle.MetaDescription" class="control-label">توضیح متا</label>
                    <textarea type="text" class="form-control" asp-for="EditArticle.MetaDescription"></textarea>
                    <span asp-validation-for="EditArticle.MetaDescription" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.KeyWords" class="control-label">کلمات کلیدی</label>
                    <input onkeypress="myFunction()" type="text" class="form-control" asp-for="EditArticle.KeyWords">
                    <span asp-validation-for="EditArticle.KeyWords" class="error"></span>
                    <p id="Message" style="color:green"></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.CanonicalAddress" class="control-label">کنونیکال</label>
                    <input type="text" class="form-control" asp-for="EditArticle.CanonicalAddress">
                    <span asp-validation-for="EditArticle.CanonicalAddress" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EditArticle.PublishDate" class="control-label">تاریخ انتشار</label>
                    <input type="text" class="form-control persianDateInput" asp-for="EditArticle.PublishDate" />
                    <span asp-validation-for="EditArticle.PublishDate" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="EditArticle.Description" class="control-label">مقاله</label>
                    <textarea id="Content" type="text" class="form-control" asp-for="EditArticle.Description"></textarea>
                    <span asp-validation-for="EditArticle.Description" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-warning waves-effect waves-light">ویرایش</button>
    </div>
</form>

@section SC{

    <script src="~/AdminPanel/js/jquery-1.10.2.js"></script>

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>

    <script>
        $(function () {
            $('#Content').ckeditor();
        });
    </script>

    <script>
        function myFunction() {
            document.getElementById("Message").innerHTML = "توجه کلمات را با # از هم جدا کنید ";
            $("#Message").fadeIn(1000);
            $("#Message").fadeOut(10000);

        }
    </script>

}