@page
@model ServiceHost.Pages.AccountModel
@{
    ViewData["Title"] = "ورود / ثیت نام";

}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">ورود و ثبت نام</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li class="active">ورود - ثبت نام</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                                @if (Model.Error != null)
                                {
                                    <div class="alert alert-warning">@Model.Error</div>
                                }
                                <form method="post" asp-page-handler="Login">
                                    <div class="login-form">
                                        <h4 class="login-title">ورود</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <label>نام کاربری</label>
                                                <input type="text" name="UserName" placeholder="نام کاربری">
                                            </div>
                                            <div class="col-12">
                                                <label>کلمه رمز</label>
                                                <input type="password" name="Password" placeholder="کلمه رمز">
                                            </div>

                                            <div class="col-sm-6 text-left text-sm-right">
                                                <a href="#" class="forget-pass-link">رمز را فراموش کرده اید؟</a>
                                            </div>

                                            <div class="col-md-12">
                                                <button class="register-button">ورود</button>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">

                                <form method="post" asp-page-handler="Register">
                                    <div class="login-form">
                                        <h4 class="login-title">ثبت نام</h4>
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb-20">
                                                <label>نام کامل</label>
                                                <input type="text" name="fullname" placeholder="نام کامل">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label>نام کاربری</label>
                                                <input type="text" name="username" placeholder="نام کاربری">
                                            </div>
                                            <div class="col-md-12 mb-20">
                                                <label>موبایل</label>
                                                <input type="number" class="Mobile" name="mobile" placeholder="موبایل">
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>کلمه رمز</label>
                                                <input type="password" name="password" placeholder="کلمه رمز">
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>تایید کلمه رمز</label>
                                                <input type="password" name="rePassword" placeholder="تایید کلمه رمز">
                                            </div>
                                            <div class="col-12">
                                                <button class="register-button mt-0">ثبت نام</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section SC{


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            $("input.Mobile").keydown(function (e) {

                if (e.ctrlKey) {

                    // CTRL + INS
                    if (!((e.keyCode == 45) ||
                        // CTRL + C
                        (e.keyCode == 67) ||
                        // CTRL + V
                        (e.keyCode == 86))) {

                        e.preventDefault();

                    }

                }
                else {

                    if (e.shiftKey) {

                        // SHIFT + TAB
                        if (!((e.keyCode == 9) ||
                            // SHIFT + LEFT ARROW KEY
                            (e.keyCode == 37) ||
                            // SHIFT + RIGHT ARROW KEY
                            (e.keyCode == 39) ||
                            // SHIFT + INS
                            (e.keyCode == 45))) {

                            e.preventDefault();

                        }

                    }
                    else {

                        // BACKSPACE
                        if (!((e.keyCode == 8) ||
                            // TAB
                            (e.keyCode == 9) ||
                            // LEFT ARROW KEY
                            (e.keyCode == 37) ||
                            // RIGHT ARROW KEY
                            (e.keyCode == 39) ||
                            // DELETE
                            (e.keyCode == 46) ||
                            // NUMBER KEYS
                            ((e.keyCode >= 48) && (e.keyCode <= 57)) ||
                            // NUMLOCK KEYS
                            ((e.keyCode >= 96) && (e.keyCode <= 105)))) {

                            e.preventDefault();

                        }

                    }

                }

            });

        });

    </script>

}